.video-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 30px 0;
  }
  .video-container button{
    background: transparent;
    border: none;
  }
  .video-container button img{
    min-width: 25vw;
    max-height: 25vh;
  }
  .video-container p{
    text-align: center;
    
  }
  iframe{
    border: none;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
  }
  .modal-content {
    background-color:rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
    position: relative;
    text-align: center;
    border: none;
    color: white;
    top: 20vh;
  }
  .vedio-size{
    width: 96%;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #aaa;
  }
  
  .close:hover {
    color: rgb(255, 255, 255);
  }
  